
.header_continear {
    background-color: #1a1a1a;
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    height: 90px;
    padding: 0 15px;
}


.logo_continear {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 250px;
}

.logo_continear img {
    width: 80%;
    padding-top: 5px;
    margin-left: 20px;
    vertical-align: middle;
}


.delivery p {
    font-size: 10px;
}

.delivery span {
    font-size: 12px;
}


.search {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    flex: 1;
}

.search select,
.search input {
    padding: 10px;
    font-weight: bold;
    outline: none;
}

.search select {
    border: none;
    background: #e6e6e6;
}

.search input {
    border: none;
    width: 100%;
    margin-right: -2px;
    background: #fff;
    color: #333;
}

.search svg {
    padding: 7px;
    background: #febd69;
    color: #1a1a1a;
}

.search svg:hover {
    background-color: #d49644;
}

.search:focus-within {
    border: 2px solid rgb(235, 161, 173);
}
.order_containear {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.order_containear a {
    text-decoration: none;
    color: white;
}

.order_containear p {
    font-size: 10px;
}

.order_containear span {
    font-size: 12px;
}


.language {
    display: flex;
    align-items: center;
    padding: 10px;
}

.language select {
    background-color: #1a1a1a;
    border: none;
    color: white;
}

.language img {
    width: 15%;
}

.cart {
    position: relative;
}

.cart span {
    position: absolute;
    font-weight: bold;
    top: -6px;
    font-size: 20px;
    background-color: #1a1a1a;
    left: 14px;
    color: orange;
}
.order_containear a:hover,
.delivery:hover,
.logo_continear a:hover,
.language a img:hover{
    border: 1px solid white;
    border-radius: 3px;
}